In [89]:
import csv
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
origin_path = '../Data_asm/credit_customers.csv'
clean_path = '../Data_asm/credit_customers_fix.csv'
HEADER = ['Checking Status', 'Duration', 'Credit History', 'Purpose', 'Credit Amount', 'Saving Status', 'Employment','Installment Commitment', 'Personal Status', 'Other Parties', 'Residence Since', 'Property Magnitude', 'Age', 'Other Payment Plans', 'Housing', 'Existing Credits', 'Job', 'Num Dependents', 'Own Telephone', 'Foreign Worker', 'Class']
with open(origin_path, 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    header = next(reader)
    fw = open(clean_path, 'w', encoding='utf-8')

    writer = csv.writer(fw)
    writer.writerow(HEADER)
    # header = next(reader)
    # del row[8]
    # del row[0]
    # writer.writerow(header)        
    for row in reader:
        
        #change checking_status:
        if row[0] == 'no checking' or row[0] == '<0':
            row[0] = '0'
        if row[0] == '0<=X<200':
            row[0] = '200'
        if row[0] == '>=200':
            row[0] = '1000'
        #change float to int:
        if row[1]:
            row[1] = int(float(row[1]))
        if row[4]:
            row[4] = int(float(row[4]))
        if row[7]:
            row[7] = int(float(row[7]))
        if row[10]:
            row[10] = int(float(row[10]))
        if row[12]:
            row[12] = int(float(row[12]))
        if row[15]:
            row[15] = int(float(row[15]))
        if row[17]:
            row[17] = int(float(row[17]))
        #change savings_status:
        if row[5] == 'no known savings':
            row[5] = '0'
        if row[5] == '<100':
            row[5] = '100'
        if row[5] == '100<=X<500':
            row[5] = '500'
        if row[5] == '500<=X<1000':
            row[5] = '1000'
        if row[5] == '>=1000':
            row[5] = '1500'

        #change employments
        if row[6] == '<1':
            row[6] = '0'
        if row[6] == '1<=X<4':
            row[6] = '4'
        if row[6] == '4<=X<7':
            row[6] = '7'
        if row[6] == '>=7':
            row[6] = '10'
        
        #change own_telephone:
        if row[18] == 'yes':
            row[18] = 'Having telephone'
        if row[18] == 'none':
            row[18] = 'No telephone'
        #change foreign_worker:
        if row[19] == 'yes':
            row[19] = 'Foreign'
        if row[19] == 'no':
            row[19] = 'Not foreign'
        #change 
        #delete row:
        # del row[8]
        del row[20] 
        writer.writerow(row)
    
print('Done')

Done

In [90]:
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

credit = pd.read_csv('../Data_asm/credit_customers_fix.csv')

credit['str_split'] = credit['Personal Status'].str.split(' ')
credit['Gender'] = credit.str_split.str.get(0).str.strip()
credit['Marriage'] = credit.str_split.str.get(1).str.strip()

del credit['str_split']
del credit['Personal Status']
del credit['Class']
credit.to_csv('../Data_asm/credit_new.csv')
credit.head(5)

,Checking Status,Duration,Credit History,Purpose,Credit Amount,Saving Status,Employment,Installment Commitment,Other Parties,Residence Since,...,Age,Other Payment Plans,Housing,Existing Credits,Job,Num Dependents,Own Telephone,Foreign Worker,Gender,Marriage
0,0,6,critical/other existing credit,radio/tv,1169,0,10,4,none,4,...,67,none,own,2,skilled,1,Having telephone,Foreign,male,single
1,200,48,existing paid,radio/tv,5951,100,4,2,none,2,...,22,none,own,1,skilled,1,No telephone,Foreign,female,div/dep/mar
2,0,12,critical/other existing credit,education,2096,100,7,2,none,3,...,49,none,own,1,unskilled resident,2,No telephone,Foreign,male,single
3,0,42,existing paid,furniture/equipment,7882,100,7,2,guarantor,4,...,45,none,for free,1,skilled,2,No telephone,Foreign,male,single
4,0,24,delayed previously,new car,4870,100,4,3,none,4,...,53,none,for free,2,skilled,2,No telephone,Foreign,male,single